div.menu{
  width: 100vw;
  height: 8vh;
  min-height: 35px;
  background-color: rgba(40,50,60,0.5);
}

.option {
    background-color: rgba(40,50,60,0.5);
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0;
    float: left;
}

.option:hover {
  background-color: rgba(40,50,60,0.6);
}

a{
  color:white;
  text-decoration: none;
}
