div.sidebar{
  height: 100vh;
  width: 10vw;
  margin-left: 0;
  padding: 3vw;
  padding-top: 1vw;
  background-color: rgb(66, 82, 101);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;}

.dropdown-content {
  display: none;
  position: static;
  background-color: rgb(66, 82, 101);
  width: 8vw;
  padding: 0px 16px;
  z-index: 1;}

.dropdown:hover .dropdown-content {
    display: block;
  }
p.sidebar{
    margin-bottom: 5px;
    line-height: 2;
}
p.option{
    margin:0;
    padding:0;
    padding-bottom:3px;
}

a{
  color:white;
  text-decoration: none;}

div.heading{
  margin-left: 38vw;
  margin-top: 5vh;
  width: 40vw;
  text-align: center;
  font-size: 2em;
  background-color: rgba(255,255,255,0.3);
  z-index:1;
}

div.background{
  background-image:url(clouds.jpg);
  opacity:0.6;
  width:45vw;
  margin-left:37vw;
  margin-top:8vh;}

div.log{
  margin:0;
  width:40vw;
  padding:2vw;
  opacity:1}

h2{
  font-weight: normal;
  font-size: 1.2em;}

div.main{
  padding:0;
  padding-top:12px;
  opacity: 1}
